footer {
    height: 100px;
    border-top: solid 15px darkred;
    border-bottom: solid 2px darkred;
    margin-top: auto;
    display: flex;
    background: #e5f3e8;
    background: -webkit-linear-gradient(to left, #e5f3e8 , #c7ada7);
    background: linear-gradient(to left, #e5f3e8 , #c7ada7);
}

.about-block {
    font-size: 16px;
    width: 35%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-block {
    padding: 10px 20px;
    width: 10%;
    display: flex;
    justify-content: center;
}

.links-block ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links-block ul li a {
    text-decoration: underline;
    color: black;
}

.links-block ul li a:hover {
    text-decoration: underline;
    color: darkred;
    font-weight: bold;
}

.copyright {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright span {
    font-size: 20px;
    color: darkred;

}