.header-app-description {
    position: relative;
    width: auto;
    height: 350px;
    border-bottom: solid 2px black;
    background-image: url("/images/header-background.jpg");
    background-size: cover;
}

.header-arrow {
    position: absolute;
    width: 7%;
    color: white;
    font-size: 100px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 20px 0;
}

.header-arrow:hover {
    cursor: pointer;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

.header-slider {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80%;
    background-color: rgba(156, 146, 138, 0.68);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-content {
    display: none;
    text-align: center;
    font-size: 30px;
    color: black;
}